@use "./base.scss";
@use "./themes";
@use "./relationships.css";
@use "./_S_-_Callouts.css";
@use "./_S_-_Checkboxes.css";
@use "./_S_-_Dataview_Cards.css";
@use "./_S_-_Encoded_Fonts.css";
@use "./_S_-_Encoded_Icons.css";
@use "./_S_-_External_Link_Icons.css";
@use "./_S_-_Folder_Styles_Rewritten.css";
@use "./_S_-_Images_Adjustments.css";
@use "./_supercharged-links-gen.css";
@use "./_Theme_DnD.css";
@use "./_Theme_DnD_WOTC.css";

lucide-handshake,
lucide-skull,
lucide-users,
lucide-heart {
  width: 1.2em;
  height: 1.2em;
  stroke-width: 2;
  vertical-align: middle;
  margin-right: 0.3em;
}

// .callout[data-callout="kith|antagonist"] {
//   --callout-color: 255, 100, 100;
//   --callout-icon: lucide-skull; // Pick a Lucide icon name here
// }

.callout {
  &[data-callout="kith|antagonist"] {
    --color: 255, 100, 100;
    --callout-icon: lucide-skull; //SVG icon code
  }
}

// put your custom CSS here!
